 /* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --bg:#0d0c22;
  --text:white;
  --bgSoft:#2d2b42;
  --btn:#3673fd;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}  */
body{
  background: var(--bg);
  color: var(--text);
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  background: violet;
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:1536px) {
  .container{
    width: 1366px;
  }
}
@media (max-width:1366px) {
  .container{
    width: 1280px;
  }
}
@media (max-width:1280px) {
  .container{
    width: 1024px;
  }
}
@media (max-width:1024px) {
  .container{
    width: 768px;
  }
}
@media (max-width:786px) {
  .container{
    width: 640px;
  }
}
@media (max-width:640px) {
  .container{
    width: 470px;
  }
}