.container{
    display: flex;
    gap: 100px;
}
.textContainer{
    flex: 1;
    flex-direction: column;
    gap: 50px;
}
/* .imgContainer{
    flex: 1;
    position: relative;
} */
.brands{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
}